
@{
    ViewBag.Title = "Список клиентов";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="h2 text-center">Список клиентов</h2>
        <table class="table table-striped table-hover alert-info alert-link">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Сумма по всем заказам</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Records)
                {
                    <tr>
                        <td><a class="alert-link" href="/Home/SelectedCustomer/@item.CustomerId">@item.Name</a></td>
                        <td><p class="table-item">@item.Adress</p></td>
                        <td><p class="table-item">@item.Sum</p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>